* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 400px;
    border-radius: 12px;
    background-image: linear-gradient(rgb(10, 234, 10), rgb(25, 25, 125));
}